<div class = 'content'>
	<img class = 'left imageContainer' src = '../images/matthew.jpg'/>
	<p>
		I was born in Pocatello Idaho in January of 1991. Growing up my family moved around quite a bit which gave me
		the opportunity to live in Idaho twice, Southern California, North Carolina, and Missouri. It was from there that I put everything on hold
		for two years to serve a mission in Monterrey Mexico. 
		<br/><br/>
		Since a young age computers have been an interest of mine never passing up an opportunity to get
		my hands on an old computer to play around with. I was about 10 years old when I decided on a career in the field
		of computers when my father asked my siblings and I if we knew who Bill Gates was. After learning that he had become the richest man in the world from creating Microsoft I decided that if he could gich rich from
		computers so could I. 
		<br/><br/>
		Soon after learning about Bill Gates I ventured into the world of programming for the first time when I found and downloaded 
		a <a href = 'http://en.wikipedia.org/wiki/GW-BASIC' target = '_blank'>GW-BASIC</a> interpreter. Although I really had no idea what I was doing, I had quite the time prompting for input and spitting out responses in the console. After getting past my initial fascination with my new discovery and realizing just how long
		it would take before I could create anything "cool", I put aside my programming ambitions for a time. While other interests would come and go, 
		my interest in computers never left me and so in my late teenage years I once again ventured into the world of programming, this time never to leave it.
		<br/><br/> 
		No, computers have not been my only passion in life. I began playing the trumpet in the sixth grade and continued to play all the way through my first semester of college. You could say that for a number of years,
		band was my life. I am also an Eagle Scout and worked at a scout camp for three summers. I enjoy hiking, camping, backpacking, snowboarding, paintball, ultimate frisbee, and just about anything to do with water. One of my goals in life
		is to one day own a sailboat. I also like to watch movies, have lengthy conversations, and play just about any board or card game. Although I have never really been one to follow sports, I do support the Cougars and am content as
		long as they are winning.
	</p>
	<div class = 'right'>
		&copy; Copyright Matthew Hatch 2014
	</div>
</div>
