<link rel="stylesheet" href="/css/style.css"/>
<script = src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script = src="../js/homePageFunctions.js"></script>
<div id = "head">
	<div class = 'mainInfo'>
		<h1>Matthew Hatch</h1>
		<div class = 'subInfo left'>
			Computer Science Student at <a href='http://byui.edu' target = '_blank'>BYU-Idaho</a><br/>
			Web Developer at <a href='https://pestroutes.com' target = '_blank'>PestRoutes</a>
		</div>
		<div class = 'socialMediaInfo right'>
			<a href="http://www.linkedin.com/pub/matthew-hatch/61/62b/410" target = '_blank'>
        	  <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x25.png" alt="View My profile on LinkedIn">
        	</a>
   		</div>
	</div>
</div>
		
