<div id = "navigation">
	<div class = 'navigationLink' page = 'aboutMe'><div class = 'navigationText'>About Me</div></div>
	<div class = 'navigationLink' page = 'assignments'><div class = 'navigationText'>CS 313 Assignments</div></div>
	<div class = 'navigationLink' page = 'resume'><div class = 'navigationText'>Resume</div></div>
	<div class = 'navigationLink' page = 'portfolio'><div class = 'navigationText'>Portfolio</div></div>
	<img src = "../images/linux-android.png" />
	<img src = "../images/binary.jpg" />
</div>
